# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# TS build artefacten
.tsnode
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Env (houd je EmailJS-sleutels uit git)
.env
.env.local
.env.*.local
